.management-body{
    width:100vw;
    height:708px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container{
    border: 1px solid  rgba(0, 0, 0, 0.18);
    width: 945px;
    height: 86%;
    padding: 25px 25px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(38, 38, 38, 0.2);
}

.add-search{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* nut them task */
.add-project{
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0);
    background-color: rgba(13, 110, 253, 1);
    color:white;
    padding: 8px 20px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.add-project:hover{
    background-color: rgb(11, 99, 229);
    color: rgb(210, 209, 209);
}
.add-project:focus{
    background-color: rgb(10, 79, 184);
    color: rgb(126, 126, 126);
}
.search-project{
    border-radius: 6px;
    border: 1px solid rgba(222, 226, 230, 1);
    padding: 8px 15px;
    font-size: 13px;
    width: 350px
}
.list > h3{
    margin-bottom: 5px;
}
table, td, th{
    border-collapse: collapse;
    text-align: center;
    padding: 6px 9px;
}
table{
    border: 1px solid rgba(222, 226, 230, 1);
}
th{
    background-color: black;
    color: white;
}
.list-project{
    width: 100%;
}
.id-project{
    width:80px;
}
.name-project{
    border: 1px solid rgba(222, 226, 230, 1);
    text-align: left;
    width: 570px;
}
 /* nut xoa, sua, huy, luu ben basic */

.btn-detail{
    background-color: rgba(13, 110, 253, 1);
    color: white;
    cursor: pointer;
    transition: all 0.1s linear;
}
.btn-detail:hover{
    background-color: rgb(9, 88, 208);
    color: rgb(200, 198, 198);
}
.btn-detail:focus{
    background-color: rgb(6, 68, 162);
    color: rgb(154, 153, 153);
}
.page-container{
    margin-top: 20px;
    width: 180px;
    height:38px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page-container > span{
    border: 1px solid rgba(222, 226, 230, 1);
    width: 36px;
    height:38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-page{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.next-page{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.page{
    display: flex;
    
}
.page> span{
    border: 1px solid rgba(222, 226, 230, 1);
    width: 36px;
    height:38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(13, 110, 253, 1);
}
#choose-page{
    background-color: rgba(13, 110, 253, 1);
    border: 1px solid rgba(13, 110, 253, 1);
    color: white;
}
/* giao dien sua/ them  */

.fix-add{
    width: 450px;
    height: 350px;
    background-color: white;
    margin-top: 20px;
    border-radius: 7px;
    
}

.fix-add-body, .delete-body{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    gap: 10px;
    border-bottom: 1px solid rgba(222, 226, 230, 1);
}
#input-add-project{
    height:45px;
    border-radius: 9px;
    padding-left: 10px;
    border: 1px solid rgba(228, 228, 231, 1);
    font-size: 16px;
}
#text-describe-project{
    height: 70px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid rgba(16, 24, 40, 0.08);
}
.error{
    color:rgba(241, 40, 73, 1);
    
}
#errorName{
    position: absolute;
    top: 88px;
    font-size: 13px;
}
#errorTextarea{
    position: absolute;
    top: 195px;
    font-size: 13px;
}
.exit{
    cursor: pointer;
    transition: all 0.1s linear;
}
.exit:hover{
    color: rgb(56, 61, 65);
}
.exit:focus{
    color: rgb(12, 13, 15);
}

